.wrapper-location {
    margin: 10px auto;
    height: auto;
    background-color: rgba(127, 225, 255, 0.171);
    border-left: 2px solid rgba(81, 255, 0, 0.616);
    border-right: 2px solid rgba(81, 255, 0, 0.616);
    .item-location {
        display: flex;
        padding-left: 10px;
        .name-item {
            width: 300px;
        }
        .type-item {
            text-align: start;
            width: 300px;
        }
        .dimension-item {
        }
    }
}
