li {
    list-style-type: none;
}

.wrapper-characters {
    .header-item {
        ul {
            width: 90%;
            height: 30px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            li {
                select {
                    height: 100%;
                    width: 200px;
                    outline: rgba(28, 168, 0, 0.651);
                    border: 2px solid rgba(28, 168, 0, 0.651);
                    box-shadow: 0 0 15px 2px rgba(28, 168, 0, 0.651);
                    border-radius: 5px;
                    color: rgb(255, 255, 255);
                    background-color: transparent;
                    option {
                        border-radius: 5px;
                        color: rgb(0, 0, 0);
                        background-color: rgba(255, 255, 255, 0.651);
                    }
                }
            }
        }
    }
    .items-characters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pagination {
        width: 450px;
        margin: 0 auto;
        text-align: center;
        ul {
            display: block;
            li {
                display: inline-block;
                border: 1px solid rgb(224, 224, 224);
                color: rgb(0, 0, 0);
                cursor: pointer;
                margin-right: 3px;
                border-radius: 4px;
                margin-bottom: 5px;
                overflow: hidden;
                a {
                    padding: 2px 5px;
                    display: inline-block;
                    color: rgb(255, 255, 255);
                    outline: none;
                }
            }
            .active {
                a {
                    background-color: rgb(5, 194, 207);
                    color: white;
                    outline: none;
                }
            }
        }
    }
}
